/* Nested dropdown styles */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -0.5rem;
    margin-left: 0;
}

.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu > .dropdown-toggle:focus ~ .dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-toggle::after {
    content: '';
    border-left: 0.3em solid currentColor;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    margin-right: 0.5rem;
}

.dropdown-submenu .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}
